<%- include('partials/header') -%>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome <%=user.username%></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<%if(user){%>
    <div class="container">
        <a class="btn btn-primary" href="/profile">Profile</a>
    </div>
    <li class="nav-item">
        <a href="/logout" class="nav-link">Logout</a>
    </li>
<%}%>
<%- include('partials/footer') -%>